.alert {
	padding: 1em 1.5em;
	margin-bottom: 1em;
	border: 1px solid;
}
.alert.alert-success {
	color: #3C763D;
	background-color: #DFF0D8;
	border-color: #D0E9C6;
}
.alert.alert-error {
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCCC;
}
