.btn {
	text-align: centered;
	margin: 1em 0;
	padding: 0.5em 1em;
	font-size: 1em;
	text-decoration: none;
	display: inline-block;
}
.btn-container {
	margin: 1.5em 0 3em 0;
}
.btn-container .subtle {
	font-size: 0.8em;
	font-style: italic;
}
.btn.clear {
	float: right;
	color: #666;
	border: 1px solid #666;
	padding: 0.5em 1.5em;
	background-color: transparent;
}
.btn.clear:hover {
	opacity: 0.8;
}
a.btn-styled {
	color: inherit;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}
.btn-x {
	color: red;
	text-decoration: none;
	margin-right: 0.5em;
	font-size: 13px;
}
