code {
	padding: 1em;
	display: inline-block;
	background-color: #111;
	color: white;
	width: 100%;
	font-size: 13px;
}
.code-inline {
	background-color: #fdf6e3;
	color: #dc322f;
	font-weight: 700;
	font-family: monospace;
}
code .line, pre code {
	line-height: 1.5em;
}
code .line.indent-1 {
	padding-left: 5em;
}
iframe.code {
	width: 100%;
	min-height: 600px;
}
