.focusbox {
	border-bottom: 1px solid #ccc;
	padding-bottom: 3em;
}
.focusbox .icon {
	margin: 0 1em;
}
.focusbox.focusbox-margin {
	margin: 4em 0;
}
.focusbox .focusbox-third {
	width: 30%;
	text-align: center;
	display: inline-block;
	margin-right: 1em;
}
.focusbox-left {
	width: 50%;
	display: inline-block;
	margin-right: 5%;
	vertical-align: middle;
}
.focusbox-right {
	width: 45%;
	display: inline-block;
	vertical-align: middle;
}
.focusbox .img {
	width: 100%;
}
.focusbox.focusbox-no-border {
	border-bottom: none
}
@media(max-width: 650px) {
	.focusbox .focusbox-third {
		width: 100%;
		margin-right: 0;
		text-align: left;
	}
}
.focusbox .cta {
	margin-top: 2em;
}
