header {
	padding: 1em 0;
	width: 100%;
	font-size: 0.85em;
	background-color: #0077D5;
}
header a {
	color: white;
	text-decoration: none;
}
header .links {
	float: right;
	margin-top: 0.5em;
	margin-right: -1em;
}
header .links a {
	margin-right: 1em;
}
header .logo a {
	display: inline;
}
header .logo img {
	height: 2em;
}
header .header-content {
	padding: 0 1em;
}
@media(max-width: 640px) {
	header .hidden-small {
		display: none;
	}
}
