.hero {
	padding-top: 4em;
	text-align: center;
	color: white;
	overflow-y: hidden;
	height: 650px;
}
.hero img {
	max-width: 100%;
}
.hero .btn {
	margin-bottom: 0.5em;
	border: 3px solid #49B9FB;
	border-radius: 40px;
}
.hero .btn:hover {
	background-color: rgba(255, 255, 255, 0.07);
}
.hero-container {
	background-color: #607d8b;
}
@media(max-width: 650px) {
	.hero {
		padding-top: 0;
	}
}
