.hero {
	color: white;
	margin-top: 2em;
}
.hero-content {
	width: 55%;
	display: inline-block;
	vertical-align: middle;
}
.hero-image {
	position: relative;
	width: 45%;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	overflow-y: hidden;
}
.hero-image img {
	position: relative;
	top: 0;
	left: 0;
	width: 80%;
	vertical-align: bottom;
}
.hero-image video {
	position: absolute;
	top: 13.9%;
	left: 26%;
	width: 68%;
	vertical-align: bottom;
}
.hero h1 {
	font-size: 42px;
}
.hero-container {
	background-color: #0077D5;
}
@media(max-width: 680px) {
	.hero {
		padding-top: 0;
	}
	.hero-content {
		float: none;
		width: 100%;
	}
	.hero-image {
		display: none;
	}
}
