html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}
.main {
	max-width: 960px;
	display: block;
	margin: 0 auto;
	padding: 0 1.5em;
}
.hidden {
	display: none;
}
@media(max-width: 540px) {
	.hidden-small {
		display: none;
	}
}
