.plugins {
	margin: 2em 0 3em;
}
.plugin {
	display: inline-block;
	margin-right: 4em;
	width: 100px;
	height: 100px;
	text-align: center;
}
.plugin img {
	width: 100%;
	height: 100%;
	margin-bottom: 0.5em;
	vertical-align: middle;
}
.plugin a, .plugin-browse a {
	display: block;
	color: black;
	text-decoration: none;
}
.plugin-browse a {
	border-radius: 4px;
	padding: 0.5em;
}
.plugin-browse a:hover {
	background-color: #F7F7F7;
}
.plugin .missing {
	width: 45%;
	vertical-align: super;
}
.plugin-browse {
	margin: 1em 0;
}
.plugin-browse-left {
	width: 10%;
	display: inline-block;
	vertical-align: middle;
}
.plugin-browse-right {
	width: 90%;
	display: inline-block;
	vertical-align: middle;
}
.plugin-browse-right h3 {
	margin-bottom: 0.25em;
}
.plugin-browse-right p {
	margin-top: 0;
}
.plugin-browse-icon {
	width: 80%;
	text-align: center;
	vertical-align: middle;
}
